<!DOCTYPE html>
<html>
   <head>
    <meta charset = "UTF-8">
    <title>회원 등록 성공 페이지</title>
    </head>
    <body>
       <h1><%= contents %></h1>
      <div><p>회원 Id : <%= userId %></p></div>
       <div><p>회원 email : <%= userEmail %></p></div>
       <div><p>회원 닉네임 : <%= userNickname %></p></div>
        
       <input type = "button" value = "<%=button_value %>" onclick = "<%=button_action %>" class = "btn btn-primary">
    <div class = "container">
    <div class = "form=group">
        </div>    
        </div>
    </body>
</html>